apiVersion: v1
kind: Service
metadata:
  name: {{ include "mattermost-rtcd.fullname" . }}
  labels:
    {{- include "mattermost-rtcd.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.clusterIP }}
  clusterIP: {{ .Values.service.clusterIP }}
  {{- end }}
  {{- if or (eq .Values.service.type "LoadBalancer") (eq .Values.service.type "NodePort") }}
  externalTrafficPolicy: {{ .Values.service.externalTrafficPolicy }}
  {{- end }}
  ports:
    - port: {{ .Values.service.APIport }}
      targetPort: api
      protocol: TCP
      name: api
    - port: {{ .Values.service.RTCport }}
      targetPort: rtc-udp
      protocol: UDP
      name: rtc-udp
    - port: {{ .Values.service.RTCport }}
      targetPort: rtc-tcp
      protocol: TCP
      name: rtc-tcp
  selector:
    {{- include "mattermost-rtcd.selectorLabels" . | nindent 4 }}
