apiVersion: v1
kind: Service
metadata:
  name: {{ include "mattermost-rtcd.fullname" . }}
  labels:
    {{- include "mattermost-rtcd.labels" . | nindent 4 }}
spec:
  {{- if or Values.configuration.hostNetwork.enabled (eq .Values.service.NodePort.enabled false) }}
  clusterIP: None
  {{- else }}
  type: NodePort
  {{- end }}
  ports:
    - port: {{ .Values.service.APIport }}
      targetPort: api
      protocol: TCP
      name: api
    - port: {{ .Values.service.RTCport }}
      targetPort: rtc-udp
      protocol: UDP
      name: rtc-udp
      {{- if and .Values.service.NodePort.enabled .Values.service.NodePort.udpNodePort }}
      nodePort: {{ .Values.service.NodePort.udpNodePort }}
      {{- end }}
    - port: {{ .Values.service.RTCport }}
      targetPort: rtc-tcp
      protocol: TCP
      name: rtc-tcp
  selector:
    {{- include "mattermost-rtcd.selectorLabels" . | nindent 4 }}
