apiVersion: v2
description: Mattermost enterprise edition server deployment without Mattermost Operator.
name: mattermost
type: application
version: 2.7.0
appVersion: 11.0.4
keywords:
- mattermost
- communication
- messaging
- team colaboration
home: https://mattermost.com
icon: http://www.mattermost.org/wp-content/uploads/2016/04/icon.png
maintainers:
  - name: jwilander
    email: joram@mattermost.com
  - name: stylianosrigas
    email: stylianos@mattermost.com
  - name: spirosoik
    email: spiros.economakis@mattermost.com
sources:
- https://github.com/mattermost/mattermost-server
- https://github.com/mattermost/mattermost-helm
