mattermost.mattermost-license
*.mattermost-license

dist/

.DS_Store

# Vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.agignore
.ctags
tags
.idea

.init

mattermost-helm/charts/*.tgz
