# Default values for mattermost-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

mattermostOperator:
  enabled: true
  replicas: 1
  rbac:
    create: true
  serviceAccount:
    create: true
  env:
    maxReconcilingInstallations: 20
    requeuOnLimitDelay: 20s
  image:
    repository: mattermost/mattermost-operator
    tag: v1.13.0
    pullPolicy: IfNotPresent
  args:
    - --enable-leader-election

minioOperator:
  enabled: true
  replicas: 1
  appName: minio
  namespace: minio-operator
  rbac:
    create: true
  serviceAccount:
    create: true
  image:
    repository: minio/k8s-operator
    tag: 1.0.7
    pullPolicy: IfNotPresent

mysqlOperator:
  enabled: true
  replicas: 1
  appName: mysql
  namespace: mysql-operator
  rbac:
    create: true
  serviceAccount:
    create: true
  image:
    repository: quay.io/presslabs/mysql-operator
    tag: 0.4.0
    pullPolicy: IfNotPresent

  ## Configuration for Mysql operator fs group
  ##
  fsGroup: 777

  ## Configuration for Mysql operator extra args
  ##
  extraArgs: []

  ## Configuration for Mysql operator service
  ##
  service:
    annotations:
      service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"

  ## Configuration for Mysql operator statefulset
  ##
  statefulSet:
    annotations:
      checksum/config: 4b7db0b6281fab87fd1fe282fa4f2f521dbcb5a9486a7589396701e825a9fbb9
      checksum/secret: cf656f56e9efe9eaab93bc378aa1783d4ac5585ec82b5a5f5380c1c228cb5f02

  ## Configuration for Mysql operator sidecar
  ##
  sidecar:
    image:
      repository: quay.io/presslabs/mysql-operator-sidecar
      tag: 0.4.0


  ## Configuration for Probes
  ##
  readinessProbeTimeout: 10
  readinessProbeInitialDelay: 0

  livenessProbeTimeout: 10
  livenessProbeInitialDelay: 200

  ## Configuration for Mysql operator orchestrator
  ##
  orchestrator:
    config:
      ApplyMySQLPromotionAfterMasterFailover: false
      Debug: false
      BackendDB: sqlite
      DetachLostReplicasAfterMasterFailover: true
      DetectClusterAliasQuery: "SELECT CONCAT(SUBSTRING(@@hostname, 1, LENGTH(@@hostname) - 1 - LENGTH(SUBSTRING_INDEX(@@hostname,'-',-2))),'.',SUBSTRING_INDEX(@@report_host,'.',-1))"
      DetectInstanceAliasQuery: "SELECT @@hostname"
      DiscoverByShowSlaveHosts: false
      FailMasterPromotionIfSQLThreadNotUpToDate: true
      HTTPAdvertise: "http://{{ .Env.HOSTNAME }}-svc:80"
      HostnameResolveMethod: none
      InstancePollSeconds: 5
      ListenAddress: ":3000"
      MasterFailoverDetachReplicaMasterHost: true
      MySQLHostnameResolveMethod: "@@report_host"
      MySQLTopologyCredentialsConfigFile: "/etc/orchestrator/orc-topology.cnf"
      ProcessesShellCommand: "sh"
      RecoverMasterClusterFilters: ['.*']
      RecoverIntermediateMasterClusterFilters: ['.*']
      RecoveryPeriodBlockSeconds: 300
      RemoveTextFromHostnameDisplay: ":3306"
      RecoveryIgnoreHostnameFilters: []
      RaftNodes: []
      SQLite3DataFile: "/var/lib/orchestrator/orc.db"
      SlaveLagQuery: "SELECT TIMESTAMPDIFF(SECOND,ts,NOW()) as drift FROM sys_operator.heartbeat ORDER BY drift ASC LIMIT 1"
      UnseenInstanceForgetHours: 1
      OnFailureDetectionProcesses:
        - "/usr/local/bin/orc-helper event -w '{failureClusterAlias}' 'OrcFailureDetection' 'Failure: {failureType}, failed host: {failedHost}, lost replcas: {lostReplicas}' || true"
        - "/usr/local/bin/orc-helper failover-in-progress '{failureClusterAlias}' '{failureDescription}' || true"
      PostIntermediateMasterFailoverProcesses:
        - "/usr/local/bin/orc-helper event '{failureClusterAlias}' 'OrcPostIntermediateMasterFailover' 'Failure type: {failureType}, failed hosts: {failedHost}, slaves: {countSlaves}' || true"
      PostMasterFailoverProcesses:
        - "/usr/local/bin/orc-helper event '{failureClusterAlias}' 'OrcPostMasterFailover' 'Failure type: {failureType}, new master: {successorHost}, slaves: {slaveHosts}' || true"
      PostUnsuccessfulFailoverProcesses:
        - "/usr/local/bin/orc-helper event -w '{failureClusterAlias}' 'OrcPostUnsuccessfulFailover' 'Failure: {failureType}, failed host: {failedHost} with {countSlaves} slaves' || true"
      PreFailoverProcesses:
      # as backup in case the first request fails
        - "/usr/local/bin/orc-helper failover-in-progress '{failureClusterAlias}' '{failureDescription}' || true"

    image:
      repository: quay.io/presslabs/mysql-operator-orchestrator
      tag: 0.4.0
      pullPolicy: IfNotPresent

  ## Configuration for Mysql operator persistent volume
  ##
  persistentVolume:
    accessModes: [ ReadWriteOnce ]
    size: 10Gi

  topology:
    user: "b3JjaGVzdHJhdG9y"
    password: "Nnc2NHBhaGJzUA=="
