version: 2.1
jobs:
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine
    steps:
      - checkout
      - run:
          command: |
            shellcheck -x tests/e2e-kind.sh
            shellcheck -x .circleci/install_tools.sh
            shellcheck -x .circleci/release.sh

  lint-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v3.4.0
    steps:
      - checkout
      - run:
          command: ct lint --config tests/ct.yaml

  install-charts:
    machine: true
    steps:
      - checkout
      - run:
          command: tests/e2e-kind.sh
          no_output_timeout: 1h

  release-charts:
    machine: true
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "1c:6b:41:1b:fa:6e:47:fa:46:60:3c:74:04:55:d3:98"
      - run:
          command: |
            echo "export GIT_REPOSITORY_URL=$CIRCLE_REPOSITORY_URL" >> $BASH_ENV
            echo "export GIT_USERNAME=$CIRCLE_PROJECT_USERNAME" >> $BASH_ENV
            .circleci/install_tools.sh
            .circleci/release.sh

workflows:
  version: 2
  untagged-build:
    jobs:
      - lint-scripts
      - lint-charts
      - install-charts:
          requires:
            - lint-scripts
            - lint-charts
  release:
    jobs:
      - release-charts:
          context: mattermost-helm
          filters:
            tags:
              ignore: /.*/
            branches:
              only: master
