# Default values for mattermost-app.
replicaCount: 1
image:
  repository: mattermost/mattermost-kubernetes
  tag: master
  pullPolicy: Always
service:
  name: mattermost-app
  type: ClusterIP
  externalPort: 8065
  internalPort: 8065
  metricsPort: 8067
  clusterPort: 8075
  gossipPort: 8074
  metricsName: mattermost-app-metrics
ingress:
  enabled: false
  # Used to create Ingress record (should used with service.type: ClusterIP).
  hosts:
    - chart-example.local
  annotations:
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  tls:
    # Secrets must be manually created in the namespace.
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local
resources:
  requests:
    cpu: 100m
    memory: 256Mi

jobserver:
  name: jobserver
  enabled: true
  replicaCount: 1
  service:
    name: mattermost-app-jobserver
    type: ClusterIP

notifications:
  # Push proxy must be configured or useHPNS must be true for push noticiations to work.
  push:
    enabled: false
    # Hosted push notication service. Requires an enterprise license.
    # More details at https://docs.mattermost.com/mobile/mobile-hpns.html.
    useHPNS: false
