apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mattermost-enterprise-edition.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: server
    helm.sh/chart:  {{ include "mattermost-enterprise-edition.chart" . }}
spec:
  replicas: {{ .Values.mattermostApp.replicaCount }}
  {{- with .Values.mattermostApp.strategy }}
  strategy:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.mattermostApp.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: {{ .Release.Service }}
      app.kubernetes.io/component: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/component: server
        helm.sh/chart: {{ include "mattermost-enterprise-edition.chart" . }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.mattermostApp.service.metricsPort }}"
        prometheus.io/path: "/metrics"
    spec:
      initContainers:
      {{- if .Values.global.features.elasticsearch.enabled }}
      - name: init-elasticsearch
        image: appropriate/curl:latest
        imagePullPolicy: IfNotPresent
        command: [
          "sh",
          "-c",
          "until curl --max-time 5 http://{{ .Release.Name }}-mattermost-elasticsearch:9200 ; do echo waiting for elasticsearch; sleep 5; done; echo init-elasticsearch finished"]
      {{- end }}
      {{- if .Values.global.features.database.useInternal }}
      - name: init-mysql
        image: appropriate/curl:latest
        imagePullPolicy: IfNotPresent
        command: [
          "sh",
          "-c",
          "until curl --max-time 5 http://{{ .Release.Name }}-mysqlha-readonly:3306; do echo waiting for {{ .Release.Name }}-mysqlha; sleep 5; done;"]
      {{- end }}
      {{- if .Values.mattermostApp.extraInitContainers }}
      {{- .Values.mattermostApp.extraInitContainers | toYaml | nindent 6 }}
      {{- end }}
      containers:
      - name: {{ include "mattermost-enterprise-edition.name" . }}
        image: "{{ .Values.mattermostApp.image.repository }}:{{ .Values.mattermostApp.image.tag }}"
        imagePullPolicy: {{ .Values.mattermostApp.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.mattermostApp.service.internalPort }}
          name: api
        - containerPort: {{ .Values.mattermostApp.service.metricsPort }}
          name: metrics
        - containerPort: {{ .Values.mattermostApp.service.clusterPort }}
          name: cluster
        - containerPort: {{ .Values.mattermostApp.service.gossipPort }}
          name: gossip
        env:
        - name: MM_CONFIG
{{- if .Values.global.features.database.useInternal }}
          value: "mysql://{{ .Values.mysqlha.mysqlha.mysqlUser }}:{{ .Values.mysqlha.mysqlha.mysqlPassword }}@tcp({{ .Release.Name }}-mysqlha-0.{{ .Release.Name }}-mysqlha:3306)/{{ .Values.mysqlha.mysqlha.mysqlDatabase }}?charset=utf8mb4,utf8&readTimeout=30s&writeTimeout=30s"
{{- else }}
          value: "{{ .Values.global.features.database.external.driver }}://{{ .Values.global.features.database.external.dataSource }}"
{{- end }}
        - name: MM_SERVICESETTINGS_SITEURL
          value: "{{ .Values.global.siteUrl }}"
        - name: MM_SERVICESETTINGS_LISTENADDRESS
          value: ":{{ .Values.mattermostApp.service.internalPort }}"
        - name: MM_SERVICESETTINGS_ENABLELINKPREVIEWS
          value: "{{ .Values.global.enableLinkPreviews }}"
        - name: MM_SERVICESETTINGS_ENABLECUSTOMEMOJI
          value: "{{ .Values.global.enableCustomEmoji }}"
{{- if .Values.global.features.elasticsearch.enabled }}
        - name: MM_ELASTICSEARCHSETTINGS_CONNECTIONURL
          value: "http://{{ .Release.Name }}-mattermost-elasticsearch:9200"
        - name: MM_ELASTICSEARCHSETTINGS_ENABLEINDEXING
          value: "true"
        - name: MM_ELASTICSEARCHSETTINGS_ENABLESEARCHING
          value: "true"
{{- end }}
        - name: MM_FILESETTINGS_AMAZONS3ACCESSKEYID
          value: "{{ .Values.minio.accessKey }}"
        - name: MM_FILESETTINGS_AMAZONS3SECRETACCESSKEY
          value: "{{ .Values.minio.secretKey }}"
        - name: MM_FILESETTINGS_AMAZONS3BUCKET
          value: "{{ .Values.minio.defaultBucket.name }}"
        - name: MM_FILESETTINGS_AMAZONS3ENDPOINT
          value: "{{ .Release.Name }}-minio:9000"
{{- if .Values.global.features.jobserver.enabled }}
        - name: MM_JOBSETTINGS_RUNJOBS
          value: "false"
        - name: MM_JOBSETTINGS_RUNSCHEDULER
          value: "false"
{{- end }}
{{- with .Values.mattermostApp.extraEnv }}
{{ toYaml . | indent 8 }}
{{- end }}
        livenessProbe:
          initialDelaySeconds: 90
          timeoutSeconds: 5
          periodSeconds: 15
          httpGet:
            path: /api/v4/system/ping
            port: {{ .Values.mattermostApp.service.internalPort }}
        readinessProbe:
          initialDelaySeconds: 15
          timeoutSeconds: 5
          periodSeconds: 15
          httpGet:
            path: /api/v4/system/ping
            port: {{ .Values.mattermostApp.service.internalPort }}
        volumeMounts:
        - mountPath: /mattermost/mattermost.mattermost-license
          name: mattermost-license
          subPath: mattermost.mattermost-license
        - mountPath: /mattermost/plugins/
          name: mattermost-plugins
        - mountPath: /mattermost/client/plugins/
          name: mattermost-plugins-client
{{- if .Values.mattermostApp.extraVolumeMounts }}
{{ toYaml .Values.mattermostApp.extraVolumeMounts | indent 8 }}
{{- end }}
        resources:
{{ toYaml .Values.mattermostApp.resources | indent 10 }}
      volumes:
      - name: mattermost-plugins
        emptyDir: {}
      - name: mattermost-plugins-client
        emptyDir: {}
      - name: mattermost-config
        emptyDir: {}
      - name: mattermost-license
        secret:
          secretName: {{ include "mattermost-enterprise-edition.fullname" . }}-mattermost-license
{{- if .Values.mattermostApp.extraVolumes }}
{{ toYaml .Values.mattermostApp.extraVolumes | indent 6 }}
{{- end }}
