{{- if .Values.global.features.loadTest.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mattermost-enterprise-edition.fullname" .}}-loadtest
  labels:
    app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: loadtest
    helm.sh/chart:  {{ include "mattermost-enterprise-edition.chart" . }}
spec:
  replicas: {{ .Values.global.features.loadTest.replicaCount }}
  {{- with .Values.global.features.loadTest.strategy }}
  strategy:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.global.features.loadTest.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: {{ .Release.Service }}
      app.kubernetes.io/component: loadtest
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/component: loadtest
        helm.sh/chart: {{ include "mattermost-enterprise-edition.chart" . }}
    spec:
      {{- if .Values.global.features.loadtest.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.global.features.loadtest.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.global.features.loadtest.affinity }}
      affinity:
        {{- toYaml .Values.global.features.loadtest.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.global.features.loadtest.tolerations }}
      tolerations:
      {{- toYaml .Values.global.features.loadtest.tolerations | nindent 6 }}
      {{- end }}
      containers:
        - name: {{ include "mattermost-enterprise-edition.name" .}}-loadtest
          image: "{{ .Values.global.features.loadTest.image.repository }}:{{ .Values.global.features.loadTest.image.tag }}"
          imagePullPolicy: {{ .Values.global.features.loadTest.image.pullPolicy }}
          volumeMounts:
          - mountPath: /mattermost/config/config.json
            name: config-json
            subPath: config.json
          {{- if .Values.global.existingLicenseSecret.name }}
          - mountPath: /mattermost/{{.Values.global.existingLicenseSecret.key }}
            name: mattermost-license
            subPath: {{.Values.global.existingLicenseSecret.key }}
          {{- else }}
          - mountPath: /mattermost/mattermost.mattermost-license
            name: mattermost-license
            subPath: mattermost.mattermost-license
          {{- end }}
          - mountPath: /mattermost-load-test/loadtestconfig.json
            name: loadtestconfig-json
            subPath: loadtestconfig.json
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
      volumes:
        - name: config-json
          configMap:
            name: {{ include "mattermost-enterprise-edition.fullname" .}}-init-config-json
            items:
            - key: config.json
              path: config.json
        - name: mattermost-license
          secret:
            {{- if .Values.global.existingLicenseSecret.name }}
            secretName: {{ .Values.global.existingLicenseSecret.name }}
            {{- else }}
            secretName: {{ include "mattermost-enterprise-edition.fullname" . }}-mattermost-license
            {{- end }}
        - name: loadtestconfig-json
          configMap:
            name: {{ include "mattermost-enterprise-edition.fullname" . }}-loadtestconfig-json
            items:
            - key: loadtestconfig.json
              path: loadtestconfig.json
      {{- with .Values.mattermostApp.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
