{{- if .Values.global.features.loadTest.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mattermost-enterprise-edition.name" .}}-loadtest
  labels:
    app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/component: loadtest
    helm.sh/chart:  {{ include "mattermost-enterprise-edition.chart" . }}
spec:
  replicas: {{ .Values.global.features.loadTest.replicaCount }}
  {{- with .Values.global.features.loadTest.strategy }}
  strategy:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  revisionHistoryLimit: {{ .Values.global.features.loadTest.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: {{ .Release.Service }}
      app.kubernetes.io/component: loadtest
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "mattermost-enterprise-edition.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        app.kubernetes.io/component: loadtest
        helm.sh/chart: {{ include "mattermost-enterprise-edition.chart" . }}
    spec:
      containers:
        - name: {{template "mattermost-enterprise-edition.name" .}}-loadtest
          image: "{{ .Values.global.features.loadTest.image.repository }}:{{ .Values.global.features.loadTest.image.tag }}"
          imagePullPolicy: {{ .Values.global.features.loadTest.image.pullPolicy }}
          volumeMounts:
          - mountPath: /mattermost/config/config.json
            name: config-json
            subPath: config.json
          - mountPath: /mattermost/mattermost.mattermost-license
            name: mattermost-license
            subPath: mattermost.mattermost-license
          - mountPath: /mattermost-load-test/loadtestconfig.json
            name: loadtestconfig-json
            subPath: loadtestconfig.json
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
      volumes:
        - name: config-json
          configMap:
            name: {{template "mattermost-enterprise-edition.fullname" .}}-init-config-json
            items:
            - key: config.json
              path: config.json
        - name: mattermost-license
          secret:
            secretName: {{ template "mattermost-enterprise-edition.fullname" . }}-mattermost-license
        - name: loadtestconfig-json
          configMap:
            name: {{ template "mattermost-enterprise-edition.fullname" . }}-loadtestconfig-json
            items:
            - key: loadtestconfig.json
              path: loadtestconfig.json
{{- end }}
