name: "Validate PR"

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  lint:
    name: Lint Project
    runs-on: ubuntu-22.04
    steps:
      # Checkout everything since ct uses git diff to determine charts
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 
      - name: Execute Lint
        run: make lint

  test:
    name: Test
    runs-on: ubuntu-22.04
    needs:
      - lint
    steps:
      # Checkout everything since ct uses git diff to determine charts
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 
      - name: Execute Tests
        run: make test
