name: "Release"

on:
  push:
    branches:
      - master

concurrency: release

jobs:
  release-charts:
    name: Release Charts
    runs-on: ubuntu-latest
    
    steps:
      # Checkout everything since ct uses git diff to determine charts
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0 
      - name: Release Charts
        run: make release
        env:
          CR_TOKEN: ${{ github.token }}
