apiVersion: v1
description: Mattermost Enterprise server with high availitibity.
name: mattermost-enterprise-edition
version: 0.8.0
appVersion: 5.7.1
keywords:
- mattermost
- communication
- messaging
- team colaboration
home: https://mattermost.com
icon: http://www.mattermost.org/wp-content/uploads/2016/04/icon.png
maintainers:
  - name: cpanato
    email: carlos@mattermost.com
  - name: jwilander
    email: joram@mattermost.com
source:
- https://github.com/mattermost/mattermost-server
- https://github.com/mattermost/mattermost-kubernetes
